<a href="https://colab.research.google.com/github/dmorton714/data-2-demo/blob/main/answers_week_2_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plt

Link to the first set of data (this is a JSON file):  https://www.healthit.gov/data/open-api?source=Surescripts_County_04-2014.csv

In [58]:
Surescripts_Network = pd.read_json("https://www.healthit.gov/data/open-api?source=Surescripts_County_04-2014.csv")
# Surescripts_Network.head()

kaggle link to the data: https://www.kaggle.com/datasets/hhs/health-insurance

In [59]:
aca_coverage = pd.read_csv("https://raw.githubusercontent.com/dmorton714/data-2-demo/main/states.csv")
# aca_coverage.head()

In [60]:
def type_convert(df):
  df['State'] = df['State'].astype('string')
  df['Marketplace Tax Credits (2016)'] = df['Marketplace Tax Credits (2016)'].astype('float')
  df['State Medicaid Expansion (2016)'] = df['State Medicaid Expansion (2016)'].astype('bool')
  df['Average Monthly Tax Credit (2016)'] = df['Average Monthly Tax Credit (2016)'].str.replace(' ', '').str.lstrip("$").astype('int')
  return(df)

In [61]:
aca_coverage = type_convert(aca_coverage)

In [62]:
Surescripts_Network['Period'] = pd.to_datetime(Surescripts_Network['Period'])
# Surescripts_Network.head()

In [63]:
# Lets change the column names so they are all lowercase and don't have any spaces. Let's also give the last column name a better title.
surescripts = Surescripts_Network
surescripts.columns = surescripts.columns.str.lower()
surescripts.columns = surescripts.columns.str.replace(" ", "_")
surescripts.head()

,region,region_code,county_name,state_fips,county_fips,fips,period,percent_of_physicians_actively_using_an_ehr_to_e-prescribe_via_the_surescripts_network
0,Alabama,AL,Autauga,1.0,1.0,1001.0,2014-04-01,0.33
1,Alabama,AL,Baldwin,1.0,3.0,1003.0,2014-04-01,0.68
2,Alabama,AL,Barbour,1.0,5.0,1005.0,2014-04-01,0.52
3,Alabama,AL,Bibb,1.0,7.0,1007.0,2014-04-01,1.00
4,Alabama,AL,Blount,1.0,9.0,1009.0,2014-04-01,0.21

In [64]:
from sqlite3 import connect
coverage = aca_coverage
conn = connect(':memory:')
# create tables
surescripts.to_sql("surescripts", conn)

2938

https://www.datacamp.com/tutorial/tutorial-how-to-execute-sql-queries-in-r-and-python

In [65]:
# An example of using sql syntax to read a table:

pd.read_sql("select * from surescripts", conn)

,index,region,region_code,county_name,state_fips,county_fips,fips,period,percent_of_physicians_actively_using_an_ehr_to_e-prescribe_via_the_surescripts_network
0,0,Alabama,AL,Autauga,1.0,1.0,1001.0,2014-04-01 00:00:00,0.33
1,1,Alabama,AL,Baldwin,1.0,3.0,1003.0,2014-04-01 00:00:00,0.68
2,2,Alabama,AL,Barbour,1.0,5.0,1005.0,2014-04-01 00:00:00,0.52
3,3,Alabama,AL,Bibb,1.0,7.0,1007.0,2014-04-01 00:00:00,1.00
4,4,Alabama,AL,Blount,1.0,9.0,1009.0,2014-04-01 00:00:00,0.21
...,...,...,...,...,...,...,...,...,...
2933,2933,Wyoming,WY,Teton,56.0,39.0,56039.0,2014-04-01 00:00:00,0.46
2934,2934,Wyoming,WY,Uinta,56.0,41.0,56041.0,2014-04-01 00:00:00,0.36
2935,2935,Wyoming,WY,Washakie,56.0,43.0,56043.0,2014-04-01 00:00:00,0.89
2936,2936,Wyoming,WY,Weston,56.0,45.0,56045.0,2014-04-01 00:00:00,1.00
2937,2937,,None,None,NaN,NaN,NaN,None,NaN

1. The most basic command is **select**. Let's 'limit' ourselves to look at the first five rows of the data for all columns.

In [66]:
# question 1 code below
pd.read_sql("select * from surescripts limit 5", conn)

,index,region,region_code,county_name,state_fips,county_fips,fips,period,percent_of_physicians_actively_using_an_ehr_to_e-prescribe_via_the_surescripts_network
0,0,Alabama,AL,Autauga,1.0,1.0,1001.0,2014-04-01 00:00:00,0.33
1,1,Alabama,AL,Baldwin,1.0,3.0,1003.0,2014-04-01 00:00:00,0.68
2,2,Alabama,AL,Barbour,1.0,5.0,1005.0,2014-04-01 00:00:00,0.52
3,3,Alabama,AL,Bibb,1.0,7.0,1007.0,2014-04-01 00:00:00,1.00
4,4,Alabama,AL,Blount,1.0,9.0,1009.0,2014-04-01 00:00:00,0.21

2. Let's view all rows for Texas

In [67]:
# question 2 code here
pd.read_sql("select * from surescripts WHERE region = 'Texas'", conn)

,index,region,region_code,county_name,state_fips,county_fips,fips,period,percent_of_physicians_actively_using_an_ehr_to_e-prescribe_via_the_surescripts_network
0,2373,Texas,TX,Anderson,48.0,1.0,48001.0,2014-04-01 00:00:00,0.73
1,2374,Texas,TX,Andrews,48.0,3.0,48003.0,2014-04-01 00:00:00,0.15
2,2375,Texas,TX,Angelina,48.0,5.0,48005.0,2014-04-01 00:00:00,0.77
3,2376,Texas,TX,Aransas,48.0,7.0,48007.0,2014-04-01 00:00:00,0.64
4,2377,Texas,TX,Armstrong,48.0,11.0,48011.0,2014-04-01 00:00:00,1.00
...,...,...,...,...,...,...,...,...,...
212,2585,Texas,TX,Wood,48.0,499.0,48499.0,2014-04-01 00:00:00,0.83
213,2586,Texas,TX,Yoakum,48.0,501.0,48501.0,2014-04-01 00:00:00,0.42
214,2587,Texas,TX,Young,48.0,503.0,48503.0,2014-04-01 00:00:00,0.41
215,2588,Texas,TX,Zapata,48.0,505.0,48505.0,2014-04-01 00:00:00,1.00
216,2589,Texas,TX,Zavala,48.0,507.0,48507.0,2014-04-01 00:00:00,0.00

3. Let's look at each distinct State name ending with the letter 'E'.

Anyone know how many States there will be, off the top of your head?

In [68]:
pd.read_sql("SELECT * FROM surescripts WHERE region LIKE '%e' ", conn)

,index,region,region_code,county_name,state_fips,county_fips,fips,period,percent_of_physicians_actively_using_an_ehr_to_e-prescribe_via_the_surescripts_network
0,295,Delaware,DE,Kent,10.0,1.0,10001.0,2014-04-01 00:00:00,0.70
1,296,Delaware,DE,New Castle,10.0,3.0,10003.0,2014-04-01 00:00:00,0.80
2,297,Delaware,DE,Sussex,10.0,5.0,10005.0,2014-04-01 00:00:00,0.72
3,1117,Maine,ME,Androscoggin,23.0,1.0,23001.0,2014-04-01 00:00:00,0.79
4,1118,Maine,ME,Aroostook,23.0,3.0,23003.0,2014-04-01 00:00:00,0.64
...,...,...,...,...,...,...,...,...,...
117,2368,Tennessee,TN,Wayne,47.0,181.0,47181.0,2014-04-01 00:00:00,0.84
118,2369,Tennessee,TN,Weakley,47.0,183.0,47183.0,2014-04-01 00:00:00,0.68
119,2370,Tennessee,TN,White,47.0,185.0,47185.0,2014-04-01 00:00:00,0.73
120,2371,Tennessee,TN,Williamson,47.0,187.0,47187.0,2014-04-01 00:00:00,0.60
121,2372,Tennessee,TN,Wilson,47.0,189.0,47189.0,2014-04-01 00:00:00,0.57

In [69]:
pd.read_sql("SELECT * FROM surescripts WHERE region LIKE '%Ken%' ", conn)

,index,region,region_code,county_name,state_fips,county_fips,fips,period,percent_of_physicians_actively_using_an_ehr_to_e-prescribe_via_the_surescripts_network
0,936,Kentucky,KY,Adair,21.0,1.0,21001.0,2014-04-01 00:00:00,0.17
1,937,Kentucky,KY,Allen,21.0,3.0,21003.0,2014-04-01 00:00:00,0.11
2,938,Kentucky,KY,Anderson,21.0,5.0,21005.0,2014-04-01 00:00:00,0.32
3,939,Kentucky,KY,Ballard,21.0,7.0,21007.0,2014-04-01 00:00:00,0.00
4,940,Kentucky,KY,Barren,21.0,9.0,21009.0,2014-04-01 00:00:00,0.60
...,...,...,...,...,...,...,...,...,...
113,1049,Kentucky,KY,Wayne,21.0,231.0,21231.0,2014-04-01 00:00:00,0.42
114,1050,Kentucky,KY,Webster,21.0,233.0,21233.0,2014-04-01 00:00:00,0.67
115,1051,Kentucky,KY,Whitley,21.0,235.0,21235.0,2014-04-01 00:00:00,0.45
116,1052,Kentucky,KY,Wolfe,21.0,237.0,21237.0,2014-04-01 00:00:00,0.00
117,1053,Kentucky,KY,Woodford,21.0,239.0,21239.0,2014-04-01 00:00:00,0.38

4. Let's get a count of counties for the state of Kentucky. Check wikipedia to verify the answer you get :-)

In [70]:
pd.read_sql("select *, count(*) from surescripts where region = 'Kentucky'", conn)

,index,region,region_code,county_name,state_fips,county_fips,fips,period,percent_of_physicians_actively_using_an_ehr_to_e-prescribe_via_the_surescripts_network,count(*)
0,936,Kentucky,KY,Adair,21.0,1.0,21001.0,2014-04-01 00:00:00,0.17,118

In [71]:
pd.read_sql("SELECT distinct region FROM surescripts WHERE Region LIKE '%e'",conn)

          region
0       Delaware
1          Maine
2  New Hampshire
3      Tennessee

In [72]:
pd.read_sql("select COUNT('County Name') from surescripts where region = 'Kentucky'", conn)

   COUNT('County Name')
0                   118

5. We're repeatedly copying the same code. Let's write a simple function to pass in the query string and return the dataframe.

As a reminder, we use the `def` keyword to create a function in python. For example:

```
def add_two(a, b):
    return a + b
```

In [73]:
# Write your function below this. Give it a short, memorable name.
def sql(a_string):
    return(pd.read_sql(a_string, conn))

In [74]:
sql("select * from surescripts WHERE region = 'Kentucky'")

,index,region,region_code,county_name,state_fips,county_fips,fips,period,percent_of_physicians_actively_using_an_ehr_to_e-prescribe_via_the_surescripts_network
0,936,Kentucky,KY,Adair,21.0,1.0,21001.0,2014-04-01 00:00:00,0.17
1,937,Kentucky,KY,Allen,21.0,3.0,21003.0,2014-04-01 00:00:00,0.11
2,938,Kentucky,KY,Anderson,21.0,5.0,21005.0,2014-04-01 00:00:00,0.32
3,939,Kentucky,KY,Ballard,21.0,7.0,21007.0,2014-04-01 00:00:00,0.00
4,940,Kentucky,KY,Barren,21.0,9.0,21009.0,2014-04-01 00:00:00,0.60
...,...,...,...,...,...,...,...,...,...
113,1049,Kentucky,KY,Wayne,21.0,231.0,21231.0,2014-04-01 00:00:00,0.42
114,1050,Kentucky,KY,Webster,21.0,233.0,21233.0,2014-04-01 00:00:00,0.67
115,1051,Kentucky,KY,Whitley,21.0,235.0,21235.0,2014-04-01 00:00:00,0.45
116,1052,Kentucky,KY,Wolfe,21.0,237.0,21237.0,2014-04-01 00:00:00,0.00
117,1053,Kentucky,KY,Woodford,21.0,239.0,21239.0,2014-04-01 00:00:00,0.38

To do pass in longer queries, we can use a python multi-line string with triple quotations assigned to a variable name.

ie.
```
"""one,
two"""
```

6. Let's select the state, county, state fips, county fips, and fips where the county fips equals 51.

Use a multi-line string assigned to a query variable then pass that to the function.

In [75]:
pd.read_sql("""SELECT region, county_name, state_fips, county_fips, fips 
  FROM surescripts 
  WHERE county_fips = 51""", conn)

            region   county_name  state_fips  county_fips     fips
0          Alabama        Elmore         1.0         51.0   1051.0
1         Arkansas       Garland         5.0         51.0   5051.0
2       California          Mono         6.0         51.0   6051.0
3         Colorado      Gunnison         8.0         51.0   8051.0
4          Florida        Hendry        12.0         51.0  12051.0
5          Georgia       Chatham        13.0         51.0  13051.0
6            Idaho     Jefferson        16.0         51.0  16051.0
7         Illinois       Fayette        17.0         51.0  17051.0
8          Indiana        Gibson        18.0         51.0  18051.0
9             Iowa         Davis        19.0         51.0  19051.0
10          Kansas         Ellis        20.0         51.0  20051.0
11        Kentucky          Clay        21.0         51.0  21051.0
12       Louisiana     Jefferson        22.0         51.0  22051.0
13        Michigan       Gladwin        26.0         51.0  26051.0
14     Mississippi        Holmes        28.0         51.0  28051.0
15        Missouri          Cole        29.0         51.0  29051.0
16         Montana       Liberty        30.0         51.0  30051.0
17        Nebraska         Dixon        31.0         51.0  31051.0
18      New Mexico        Sierra        35.0         51.0  35051.0
19        New York    Livingston        36.0         51.0  36051.0
20  North Carolina    Cumberland        37.0         51.0  37051.0
21    North Dakota      McIntosh        38.0         51.0  38051.0
22            Ohio        Fulton        39.0         51.0  39051.0
23        Oklahoma         Grady        40.0         51.0  40051.0
24          Oregon     Multnomah        41.0         51.0  41051.0
25    Pennsylvania       Fayette        42.0         51.0  42051.0
26  South Carolina         Horry        45.0         51.0  45051.0
27    South Dakota         Grant        46.0         51.0  46051.0
28       Tennessee      Franklin        47.0         51.0  47051.0
29           Texas      Burleson        48.0         51.0  48051.0
30            Utah       Wasatch        49.0         51.0  49051.0
31        Virginia     Dickenson        51.0         51.0  51051.0
32      Washington  Pend Oreille        53.0         51.0  53051.0
33   West Virginia      Marshall        54.0         51.0  54051.0
34       Wisconsin          Iron        55.0         51.0  55051.0