<a href="https://colab.research.google.com/github/dmorton714/data-2-demo/blob/main/week_2_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plt

Link to the first set of data (this is a JSON file):  https://www.healthit.gov/data/open-api?source=Surescripts_County_04-2014.csv

In [6]:
surescripts = pd.read_json("https://www.healthit.gov/data/open-api?source=Surescripts_County_04-2014.csv")
# Surescripts_Network.head()

kaggle link to the data: https://www.kaggle.com/datasets/hhs/health-insurance

In [7]:
coverage = pd.read_csv("https://raw.githubusercontent.com/dmorton714/data-2-demo/main/states.csv")
# aca_coverage.head()

In [8]:
def type_convert(df):
  df['State'] = df['State'].astype('string')
  df['Marketplace Tax Credits (2016)'] = df['Marketplace Tax Credits (2016)'].astype('float')
  df['State Medicaid Expansion (2016)'] = df['State Medicaid Expansion (2016)'].astype('bool')
  df['Average Monthly Tax Credit (2016)'] = df['Average Monthly Tax Credit (2016)'].str.replace(' ', '').str.lstrip("$").astype('int')
  return(df)

In [9]:
coverage = type_convert(aca_coverage)

In [11]:
surescripts['Period'] = pd.to_datetime(surescripts['Period'])
# Surescripts_Network.head()

In [ ]:
# Lets change the column names so they are all lowercase and don't have any spaces. Let's also give the last column name a better title.
surescripts.head()

,Region,Region Code,County Name,State FIPS,County FIPS,FIPS,Period,Percent of Physicians Actively Using an EHR to e-Prescribe via the Surescripts Network
0,Alabama,AL,Autauga,1.0,1.0,1001.0,2014-04-01,0.33
1,Alabama,AL,Baldwin,1.0,3.0,1003.0,2014-04-01,0.68
2,Alabama,AL,Barbour,1.0,5.0,1005.0,2014-04-01,0.52
3,Alabama,AL,Bibb,1.0,7.0,1007.0,2014-04-01,1.00
4,Alabama,AL,Blount,1.0,9.0,1009.0,2014-04-01,0.21

In [13]:
from sqlite3 import connect
coverage = aca_coverage
conn = connect(':memory:')
# create tables
surescripts.to_sql("surescripts", conn)

2938

In [ ]:
# An example of using sql syntax to read a table:

pd.read_sql("select * from surescripts", conn)

,index,Region,Region Code,County Name,State FIPS,County FIPS,FIPS,Period,Percent of Physicians Actively Using an EHR to e-Prescribe via the Surescripts Network
0,0,Alabama,AL,Autauga,1.0,1.0,1001.0,2014-04-01 00:00:00,0.33
1,1,Alabama,AL,Baldwin,1.0,3.0,1003.0,2014-04-01 00:00:00,0.68
2,2,Alabama,AL,Barbour,1.0,5.0,1005.0,2014-04-01 00:00:00,0.52
3,3,Alabama,AL,Bibb,1.0,7.0,1007.0,2014-04-01 00:00:00,1.00
4,4,Alabama,AL,Blount,1.0,9.0,1009.0,2014-04-01 00:00:00,0.21
...,...,...,...,...,...,...,...,...,...
2933,2933,Wyoming,WY,Teton,56.0,39.0,56039.0,2014-04-01 00:00:00,0.46
2934,2934,Wyoming,WY,Uinta,56.0,41.0,56041.0,2014-04-01 00:00:00,0.36
2935,2935,Wyoming,WY,Washakie,56.0,43.0,56043.0,2014-04-01 00:00:00,0.89
2936,2936,Wyoming,WY,Weston,56.0,45.0,56045.0,2014-04-01 00:00:00,1.00
2937,2937,,None,None,NaN,NaN,NaN,None,NaN

1. The most basic command is **select**. Let's 'limit' ourselves to look at the first five rows of the data for all columns.

In [ ]:
# question 1 code below

2. Let's view all rows for Texas

In [ ]:
# question 2 code here

3. Let's look at each distinct State name ending with the letter 'E'.

Anyone know how many States there will be, off the top of your head?

In [ ]:
# question 3 code here

4. Let's get a count of counties for the state of Kentucky. Check wikipedia to verify the answer you get :-)

5. We're repeatedly copying the same code. Let's write a simple function to pass in the query string and return the dataframe.

As a reminder, we use the `def` keyword to create a function in python. For example:

```
def add_two(a, b):
    return a + b
```

In [ ]:
# Write your function below this. Give it a short, memorable name.

To do pass in longer queries, we can use a python multi-line string with triple quotations assigned to a variable name.

ie.
```
"""one,
two"""
```

6. Let's select the state, county, state fips, county fips, and fips where the county fips equals 51.

Use a multi-line string assigned to a query variable then pass that to the function.

In [ ]:
# query = ....