<a href="https://colab.research.google.com/github/dmorton714/data-2-demo/blob/main/week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from sqlite3 import connect

## **We are going to read in another data set to answer a new question. *Is there evidence for a correlation between income level and the rate of uninsured for county level data?***

In [5]:
income = pd.read_csv("https://raw.githubusercontent.com/dmorton714/data-2-demo/main/kaggle_income.csv", encoding='latin-1') # this one is encoded in latin-1
income.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [6]:
coverage = pd.read_csv("https://raw.githubusercontent.com/dmorton714/data-2-demo/main/Insurance%20Coverage%20-%20All%20Demographics%20By%20County.csv")
coverage.head()

,index,year,statefips,state_name,countyfips,County,Metric,Value
0,0,01-01-08,1,Alabama,0,State ofAlabama,Number insured,6.540953e+06
1,1,01-01-08,1,Alabama,0,State ofAlabama,Number uninsured,1.181000e+06
2,2,01-01-08,1,Alabama,0,State ofAlabama,Percent Uninsured (All),2.073000e-01
3,3,01-01-08,1,Alabama,1,Autauga County,Number insured,3.847400e+04
4,4,01-01-08,1,Alabama,1,Autauga County,Number uninsured,5.880000e+03

In [7]:
conn = connect(':memory:')
# create tables
income.to_sql("income", conn)
coverage.to_sql("coverage", conn)
# convenient function
def sql(a_string):
    return(pd.read_sql(a_string, conn))

# Coverage Table

1) Find all the 'Metric' types.

In [ ]:
# code goes here

2) What does 'countyfips' = 0 indicate ?

In [ ]:
# code goes here

3) Find the number of counties listed for Alabama.

In [ ]:
# code goes here

4) Which county in Arkansas has the least number of insured?

In [ ]:
# code goes here

5) Which state has the the highest number of total uninsured?
income table --

In [ ]:
# code goes here

# Income Table

6) For the income dataset how many different place types 'Type' are there?

In [ ]:
# code goes here

 7) What is the maximum 'Mean' income for a county in the state of Washington?

In [ ]:
# code goes here

8) Which county in the state of Washington has the highest 'Mean' income?

In [ ]:
# code goes here

9) How much does the highest 'Mean' income for the state of Washington differ from the highest 'Median' income?
join the datasets --

In [ ]:
# code goes here

# Join Income and Coverage Tables

10) Perform an inner join of the coverage and income tables on the column 'County'.

In [ ]:
# code goes here 
select coverage.Value from

11) Add an order by 'Mean' income to the join statement, and display the first 20 rows.

In [ ]:
# code goes here

12) Reverse the order of 'Mean' income and display the first 20 rows.

In [ ]:
# code goes here

13) Add an order by 'Percent Uninsured (All)', and display the first 20 rows.

In [ ]:
# code goes here

14) Reverse the order of  'Percent Uninsured (All)', and display the first 20 rows.

In [ ]:
# code goes here

15) Is there evidence for a correlation between income level and the rate of uninsured for county level data?

In [ ]:
# code goes here